body{
    background:#f4f5f7;
}

.login-container{
    background:linear-gradient(135deg,#111827,#374151);
    min-height:100vh;
}

.login-card{
    border-radius:25px;
    overflow:hidden;
}

.login-left{
    background:linear-gradient(135deg,#111827,#1f2937);
    color:white;
    align-items:center;
    justify-content:center;
}

.left-content{
    padding:50px;
    text-align:center;
}

.left-content h1{
    font-size:3rem;
    font-weight:700;
}

.left-content p{
    opacity:.85;
    margin:25px 0;
}

.left-content img{
    border-radius:20px;
    margin-top:20px;
}

.form-control{
    height:52px;
    border-radius:12px;
}

.btn{
    border-radius:12px;
}

a{
    text-decoration:none;
}

@media(max-width:768px){

.login-card{
    border-radius:15px;
}

}