.grid-filter {
  display: inline-flex;
}

.grid-pagination-buttons {
  display: inline-flex;
  margin-left: 60px;
}

.grid-action-btn {
  width: 125px;
  padding: 5px 3px;
  border-radius: 4px;
  margin: 0px 3px;
  background-color: #cf8faa;
}

.grid-action-btn:hover {
  width: 125px;
  padding: 5px 3px;
  border-radius: 4px;
  margin: 0px 3px;
  background-color: white;
  color: #cf8faa;
}

.grid-search-btn {
  width: 50px;
  background: #cf8faa;
  border-radius: 4px 4px 4px 0px;
  padding: 5px 3px;
}