<?xml version="1.0" encoding="utf-8" ?>
<ApiProcedureMappings>

  <ApiMethod name="GetAllCategories"><StoredProcedure>ec.GetAllProducts_Category</StoredProcedure></ApiMethod>
  <ApiMethod name="GetAllUsersDetails"><StoredProcedure>ec.GetAllUsersDetails</StoredProcedure></ApiMethod>
  <ApiMethod name="GetAllApprTypes"><StoredProcedure>ec.GetAllApprTypes</StoredProcedure></ApiMethod>
  <ApiMethod name="GetAllApprSettings"><StoredProcedure>ec.GetAllApprSettings</StoredProcedure></ApiMethod>
  <ApiMethod name="SaveApprovalSettingsUpdateDelete"><StoredProcedure>ec.usp_SaveApprovalSettingsUpdateDelete</StoredProcedure></ApiMethod>
  <ApiMethod name="Getallmenusbyrole"><StoredProcedure>dbo.usp_getallmenusbyrole</StoredProcedure></ApiMethod>
  <ApiMethod name="GetCity"><StoredProcedure>dbo.usp_getCity</StoredProcedure></ApiMethod>
  <ApiMethod name="GetCountry"><StoredProcedure>dbo.usp_getCountry</StoredProcedure></ApiMethod>
  <ApiMethod name="GetState"><StoredProcedure>dbo.usp_getState</StoredProcedure></ApiMethod>
  <ApiMethod name="GetUserProfileById"><StoredProcedure>dbo.usp_getUserProfileById</StoredProcedure></ApiMethod>
  <ApiMethod name="SaveUpdateUserProfile"><StoredProcedure>dbo.usp_SaveUpdateUserProfile</StoredProcedure></ApiMethod>
  <ApiMethod name="SaveDefaultRole"><StoredProcedure>dbo.usp_SaveDefaultRole</StoredProcedure></ApiMethod>
  <ApiMethod name="GetAllProductsForAdmin"><StoredProcedure>dbo.usp_getAllProductsForAdmin</StoredProcedure></ApiMethod>
  <ApiMethod name="SaveUpdateDeleteProduct"><StoredProcedure>dbo.usp_SaveUpdateDeleteProduct</StoredProcedure></ApiMethod>
  <ApiMethod name="GetProductByIdAdmin"><StoredProcedure>dbo.usp_getUserProfileByIdAdmin</StoredProcedure></ApiMethod>

</ApiProcedureMappings>
